.navbar-brand{
    color: rgb(194, 37, 142) !important;
    font-weight: bolder !important;
    font-size: 30px !important;
}
.nav-item{
    margin-left: 50px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.d-flex{
    margin-left: 150px;
}
.pas{
    margin-top: 6px;
    margin-right: 25px;
}
.po{
    font-size: 20px;
    font-weight: normal;
}
.ui{
    color: rgb(141, 32, 68);
    margin-top:9px;
    width: 20px;
    height: 20px;
}
.ui:hover{
    color: rgb(104, 23, 97);
}
.dry:hover{
    font-weight: bold;
    text-decoration: none;
    color: deeppink ;
}
.pet{
    color: rgb(160, 38, 79);
    margin-top: 13px;
}
.pet:hover{
    color: rgb(97, 13, 86);
}
.try{
    color: rgb(136, 40, 72);
    margin-top: 13px;
    font-weight: bold;
}
.try:hover{
    color: rgb(94, 18, 97);
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../img/360_F_320686681_Ur6vdYQgDC9WiijiVfxlRyQffxOgfeFz.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}
.banner .content {
    position: absolute;
    max-width: 900px;
    text-align: center;
}
.wrap1 {
    max-width: 100%;
    height: 87px;
    margin: 0 auto;
    padding: 0 40px;
}
.banner-heading {
    font-size:70px;
    color: white;
    margin-top: -160px;
    margin-left: 240px;
}
.banner .content p {
    font-size: 26px;
    color: white;
    font-weight: 500;
    margin-left: 230px;
}
.botton {
    font-size: 20px;
    background-color: #f5f0f2;
    color: rgb(12, 12, 12);
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    padding: 10px 30px;
    margin-left: 230px;
}
.botton1 {
    font-size: 20px;
    border-color: #fff;
    background-color: #b7a2dd;
    color: rgb(248, 248, 248);
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    padding: 10px 30px;
}
.container{
    margin: 56px 0px 60px ;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    overflow: hidden;
}
.row{
    text-align: center !important;
    width: 100% !important;
}
.man{
    font-size: 48px;
    font-weight: bold;
    color: rgb(70, 68, 68);
}
.band{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 28px;
    padding: 9px 16px;
}
.pot{
    border-left: none;
    padding-left: 0px;
    display: flex;
    align-items: cente
}
.fan{
    color: transparent;
    background: rgb(247, 168, 202);
    border-radius: 50%;
    border-style: none;
    height: 40px;
    width: 40px;

}
.pat1{
    margin-top: 15px;
}
.pat2{
    margin-top: 2px;
}
.oy{
    margin-top: 40px;
}
.py {
    margin-top: 40px;
}
.dry:hover{
    text-decoration: none;
    color: rgb(156, 15, 102);
}
.man:hover{
    color: rgb(165, 81, 32);
}
.put{
    font-size: 19px;
    color: rgb(51, 49, 49);
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        font-family: "Mier demi";
        margin: 3px;
        padding: 0px 0px 0px 8px;
    
}
.rty{
    width: 3px;
    height: 30px;
    color: black;
}
.out {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px 28px;
    background: rgb(244, 51, 151);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 350px;
    margin-left: 93px;
   
}
.img8{
    width: 32px;
    height: 32px;
    color: azure;
    border-style: none;

}
.mat{
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.oiu{
    width: 518px;
    height: 290px;
}

.row1 {
    margin-right: 200px !important;
}
.tt {
    padding-top: 40px;
    margin-left: 500px;
    color: gray !important;
    font-size: 25px !important;
    font-weight: bold !important;
    font-family: 'Dancing Script', cursive !important;
}
.ear{
    font-size: 18px;
    margin-top: 20px !important;
    justify-content: center;
    text-decoration: none;
    color: #080808;
}
h2 {
    text-decoration: underline rgb(199, 22, 169);
    padding-bottom: 30px;
    margin-left: 356px !important;
    margin-top: 60px !important;
    font-size: 40px !important;
    font-weight: bold !important;
    justify-content: center;
}
.mn {
    color: rgb(197, 24, 188);
    margin-left: 480px;
    height: 2px;
    width: 50px;
}
.fan1{
        display: flex;
        gap: 15px;
        height: 500px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 15px;
        background-image: url(../img/1678691670429_1200.webp);
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 90px 24px 35px;
        border-radius: 4px;
        
    }
    .kat {
        cursor: pointer;
        position: relative;
    }
    .bat{
        width: 400px;
        height: 340px;
        margin-bottom: -287px;
        margin-left: 30px;
    }
    .jd {
        display: flex;
        gap: 15px;
        position: relative;
    }
    .jp {
        position: relative;
        cursor: pointer;
        margin-left: 491px;
        margin-bottom: -163px;
        
    }
    .jp1{
        margin-left: 830px;
        margin-top: -125px;
    }
    
.pk {
    max-width: 1300px;
    margin: 0 auto;
}
.bk {
    margin-top: 0px;
    text-align: center;
}
.lk1 {
    display: inline-block;
    margin: 0 auto;
    width: 1300px;
    background-color: #fff;
    padding: 25px;
}
.hk {
    width: 100%;
}
.dk {
    display: inline-block;
    float: left;
    margin-right: -4px;
    padding-right: 20px;
    width: 20%;
}
.hide-menu-toggle {
    background-color: transparent;
    border: none;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    word-wrap: normal!important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}
.nut{
    width: 100%;
    margin: 20px;
}
.antara{
    width: 405px !important;
}
.cash-img-top{
    height: 250px;
}
@media only screen and (max-width:1312px)and(min-width=1200px)
{
    
    .nut{
        width: 1250px;
    }
    .tt{
        margin-left: 550px !important;
    }
    .jd{
        margin-left: 40px;
    }
}
.mm{
     margin-left: 10PX !important;
    font-weight: bold;
    font-size: 19px;
    font-style: italic;
}

.footer-links{
    color: black;
    margin-bottom: 1px;
    text-decoration: none !important;
}
.footer-links:hover{
    color: rgb(255, 30, 0);
}
.pink1{
    padding-top: 30px ;
    font-size: 25px;
    font-weight: bold ;
    font-style: italic ;
    color: blueviolet ;
    margin-left: 430px ;
}
.gg{
    color: rgb(209, 33, 33);
}
.ll{
    color: rgb(255, 94, 20);
}
.yy{
    font-size: 25px;
    font-weight: bold;
    font-style: italic ;
    margin-left: 56px;
    
}
.mm1 {
    margin-left: 10PX !important;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
}
.ok2{
    margin-left: -29px;
    border-radius: 30px;
    margin-top: 10px;
    border: none;
    color:white;
    height: 40px;
    width: 200px;
    background-color: rgb(180, 177, 177);
}
.love{
    color: red;
    font-size: 20px;
}
.ok1{
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 21px;
    background-color: orangered;
}

.vv{
    margin-top: 30px;
    margin-left: 10px ;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.kk{
    margin: 50px;
}
.ff{
    color: purple;
    margin-top: -7px;
}
.ee{
    margin-left: 46px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: -31px;
}
.UU{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

}
.img{
   margin-top: -55px;
    margin-left: 1010px;
    width: 35px;
    height: 20px;
}
.img1{
    margin-left: 1060px;
    margin-top: -105px;
    height: 40px;
    width: 50px;
}
.img3{
    margin-left: 1180px;
    margin-top: -194px;
    height: 40px;
    width: 50px;
}
.img2{
    margin-left: 1120px;
    margin-top: -150px;
    height: 40px;
    width: 50px;
}
.img-section-trending {
    border-radius: 8px;
    height: 300px !important;
    width: 333px !important;
    margin-bottom: 25px;
}
.cf{
    color:  rgb(13, 13, 14);
    font-weight: bold;
    margin-right: 187px;
    padding-bottom: 7px;
    margin-top: -60px;
    font-size: 15px;
}
.rub{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 500;
    margin-right: 180px;
   
}
.cf:hover{
    color: rgb(163, 138, 25);
}
.container1 {
    margin: 10px !important;
    padding: 10px !important;
    border: 1px solid #ebebeb;
    margin-top: 45px;
    

}
.row {
    width: 100% !important;
    text-align: center !important;
    padding-left: 8px !important;
    padding-top: 45px !important;
    padding-bottom: 84px !important;
}
 .single-benefit {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-right: 1px solid #F3F4F0;
}

   
.row11 {
    width: 100% !important;
    text-align: center !important;
    padding-left: 8px !important;
    padding-top: 45px !important;
    padding-bottom: 84px !important;
}
.image-heading {
    padding-bottom: 50px;
    margin-top: -227px;
    margin-right: 180px;
    color: rgb(22, 22, 22);
    font-style: italic;
    font-size: 25px;
    font-weight: 700;
}
.row1 {
    margin-right: 200px !important;
}
.gf {
    margin: 10px;
    width: 100%;
    height: 300px;
}
.puy {
    color: rgb(185, 135, 160) ;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    margin-top: -277px;
    margin-left: 178px;
     text-decoration: underline rgb(192, 40, 34);
}
.fuy {
    color: rgb(185, 135, 160);
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    margin-top: -36px;
    margin-left: 124px;
     text-decoration: underline rgb(192, 40, 34);
}
.buy {
    color:rgb(185, 135, 160);
    text-decoration: underline rgb(192, 40, 34);
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    margin-top: -37px;
    margin-left: 205px;
}
.dog {
    border: none;
    color: brown;
    text-decoration: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    margin-left: 143px;
}
.dog:hover{
    font-weight: 600;
    color: rgb(110, 14, 14);
}
.vvv{
    text-decoration: none;
    font-size: 15px;
    margin-left: 45px;
    color: black;
   
}
.vv{
    text-decoration: none;
    font-size: 15px;
    margin-left: 0px;
    color: black;
   
}
h4{
    text-decoration: underline rgb(22, 187, 199);
    padding-bottom: 30px;
    margin-left: 500px !important;
    margin-top: 60px 
    font-size: 40px !important;
    font-weight: bold !important;
    justify-content: center !important;
}
.jar{
width:1336px;

    color: rgb(226, 43, 83);
}
.sd {
    color: gray;
    font-size: 20px;
    margin-top: 155px;
    margin-left: 70px;
}
h6 {
    font-style: italic;
  text-decoration: underline blueviolet;
    padding-bottom: 0px;
    margin-top: -50px !important;
    margin-left: 17px !important;
    font-size: 27px !important;
    color: rgb(86, 88, 86) !important;
}
.ass{
font-size: 17px;
}
.ok {
    margin-top: 70px;
    text-align: center;
}
.pay {
    color: rgb(151, 149, 149);
    margin-left: 70px;
    width: 300px;
}
.app {
    font-size: 20px;
    margin-left: -2px;
    color: rgb(8, 7, 7);
}
.lk{
    font-size: 20px;
    color: rgb(8, 7, 7);
    margin-left: -56px;
}
.ccc {
    width: 135px;
    height: 40px;
    margin-left: -40px;
    border: none;
    color: rgb(158, 35, 103);
    border-radius: 20px;
}
.yt {
    margin-top: 100px;
    height: 400px;
    width: 710px;
}
.tat {
    position: relative;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}
.poi {
    margin-left: 485px;
    margin-top: -440px;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}
.aws {
    margin-top: 40px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 0px;
    font-style: italic;
    text-align: center;
}
.type{
    height:450px;
}
.op{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    line-height: 28px;
    color: #e7ab3c;
    text-decoration: none;
    margin-right: 350px;
}
.re{
    color: #b63434;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 60px;
    
}
.ac{
    display: inline-block;
    padding: 12px 30px;
    background: #e7ab3c;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: #111111;
    font-weight: 700;
    margin-left: -170px;
    margin-top: 20px;
}

.mit{
    color: black;
    margin-bottom: 185px;
    text-align: center;
    margin-left:-225px;
}
.west1{
    color: #111111;
    font-size: 50px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: -145px;
}
.jprwLL1 {
    background: rgb(0, 0, 0);
    border-radius: 4px;
    margin-left: 550px;
    cursor: pointer;
    margin-top: 60px;
    padding: 6px 25px;
    width: 180px;
    height: 48px;
}
.img-section-trending1 {
    margin-top:130px;
    margin-right: 270px;
    border-radius: 10px;
    height: 40px !important;
    width: 40px !important;
    margin-bottom: 44px;
}
.image-heading1 {
    padding-bottom: 50px;
    margin-top: -80px;
    margin-right: -14px;
    color: rgb(25, 57, 88);
    font-style: italic;
    
}
.image-content1 {
    margin-top: -45PX;
    font-size : 20px;
}
.jj {
    margin-top: -115px;
    margin-right: -17px;
    color: rgb(251, 252, 251);
    font-style: italic;
    font-weight: bold;
    font-size: 24px !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botton2 {
    font-size: 20px;
    border-color: #fff;
    background-color: #f6f5f8;
    color: rgb(5, 5, 5);
    display: inline-block;
    margin-top: -3px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    padding: 6px 20px;
}
.kol {
    color: rgb(252, 251, 251);
   
}
.property-image {
    margin-bottom: -59px;
    margin-right: -20px;
    height: 400px !important;
    width: 100% !important;
    object-fit: cover;
    vertical-align: middle !important;
}
.row5{
        display: flex;
   
    flex-wrap: wrap;
    margin-right: -4px;
    margin-left: -19px;

}
.owl-dots{
    text-align: center;
}
.owl-dot{
    width: 25px;
    height: 15px;
    border-radius: 25px;
    border: 2px solid #0072bc !important;
    cursor: pointer;
    outline: none;

}

.owl-dot.active{
    background-color: #0072bc !important;
}
.section{
    margin-bottom: 55px;
}
.wq {
    color: #252525;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 38px;
    position: relative;
    margin-left: 500px;
    margin-right: 400px;
}
.footer-background {
    background-color: rgb(222, 225, 228);
    height: 270px;
    margin-left: 25px;
}
.partner-logo {
    background: #f1ebeb;
    padding: 38px 0;
}
.img-section-trending8{
    width: 150px;
    height: 30px;
    margin-left: 50px;
}
.con{
   width: 800px;
   height: 50px;
   color: black;
}
.container4 {
    height: 230px;
    margin: 10px !important;
    padding: 10px !important;
    margin-right: 10px;
    background-color: #b6b2b2;
}
.img-section-trending8{
    width: 150px;
    height: 30px;
  margin-left: 200px;
  margin-top: 50px;
}
.pink5{
    margin-left:-197px;
    font-size: 40px;
   
}
.pink3{
    margin-bottom: -50px;
}
.con2{
    margin-left: 43px;
     margin-right: 10px;
      margin-top: -300px;
       margin-bottom: 10px;
    padding: 10px;
}
.btn-secondary{
    font-size: 20px !important;
    background-color: white !important;
    color: black !important;
    border-color: white !important;
}
.an{
    margin-left: 20px;
    font-size: 20px;

}
.container8{
    
    margin-top: -52px;
    margin-bottom: -87px;
    margin-left: 200px;
    margin-right: 20px;
    padd
 }
.were{
    margin-top: -18px;
    font-size: 15px;
    margin-left: 20px;
    color: grey;
}
.ot{
    height:550px;
}
.section-title{
    margin-right: 32px;
    margin-left: 0px;
}
@media only screen and (max-width:1200px) and (min-width:1000px){
    .ot{
        width:1000px !important;
    }
    .tt{
        font-size: 26px !important;
        margin-left: 510px !important;
    }
    .img{
     
        margin-left: 800px !important;
    }
    .img1{
       
        margin-left: 860px !important;
    }
    .img2{
      
        margin-left: 920px !important;
    }
    .img3{
     
        margin-left: 1000px !important;
    }
    .section-heading-1{
        margin-top: 5px !important;
        margin-bottom: -50px !important;
        font-size: 40px !important;
        margin-left: 440px !important;
    }
}

@media only screen and (max-width:700px) and (min-width:500px){
    .ot{
        width:500px !important;
       
    }
    .ppp{
        margin-left: 60px !important;
    }
    .pppp{
        margin-left: 60px !important;
    }
    .not1{
        margin-top: -340px;
        width: 490px !important;
    }
    .aws{
        margin-left: 90px !important;
    }
    .img-section-trending{
        margin-bottom: 100px;
    }
   
    .not{
        width: 560px !important;
    }
    .img-section-trending81{
      margin-left: 326px;  
      margin-bottom: 74px;
      margin-top: -166px;
    }
    .pink3{
        margin-top: 10px;
    }
    .section{
        width: 400px;
    }
    .kat{
        margin-left: -3px;
        width:320px;
    }
    .img-section-trending8{
        margin-left: 6px;
        margin-top: 38px;
        margin-bottom: 5px !important;
    }
    .jd{
        width:10px !important;
    }
    .yt{
        width: 445px !important;
    }
    .jar{
        width: 500px;
    }
    .ip{
        height: 120px;
        margin-left: -481px;
        margin-top: 182px !important;
      width:300px !important;
    }
    .ip1{
        height: 120px;
        margin-left: -820px;
margin-top: 304px !important;
      width:300px !important;
    }
    .bat{
        height: 140px;
        margin-left:9px ;
margin-bottom: -200px !important;
      width:300px !important;
    }
    .img{
        margin-top: 50px !important;
        margin-left: 40px !important;
    }
    .img1{
        margin-top: 50px !important;
        margin-left: 46px !important;
    }
    .img2{
        margin-top: 50px !important;
        margin-left: 52px !important;
    }
    .img3{
        margin-top: 50px !important;
        margin-left: 56px !important;
    }
    .wq{
        margin-left: 150px;
        font-size:25px !important ;
    }
    
    .puy{
        margin-bottom: 23px !important;
        font-size: 35px !important;
    }
    .fuy{
         margin-bottom: 23px !important;
        font-size: 35px !important;
    }
    .buy{
         margin-bottom: 23px !important;
        font-size: 35px !important;
    }
    .jprwLL1{
        margin-left: 150px !important;
    }
    .footer-background{
        color: #858484;
        height: 800px;
    }
    .poi{
font-size: 17px !important;
 margin-left: 170px !important;
    }
    .aws{
        margin-left: 30px !important;
        font-size: 17px !important;
    }
    .con2{
        margin-top: -120px !important;
        background-color: #e1dbeb;
    }
}
@media only screen and (max-width:765px) and (min-width:701px){
    .ot{
        width:650px !important;
    }
    .banner-heading{
        font-size: 40px !important;
    }
    .img{
        margin-top: 50px !important;
        margin-left: 50px !important;
    }
    .img1{
        margin-top: 50px !important;
        margin-left: 55px !important;
    }
    .img2{
        margin-top: 50px !important;
        margin-left: 60px !important;
    }
    .img3{
        margin-top: 50px !important;
        margin-left: 65px !important;
    }
    .tt{
        font-size: 22px !important;
        margin-left: 300px !important;
    }
    .section-heading-1{
        margin-top: 10px !important;
        margin-bottom: -40px !important;
        font-size: 28px !important;
        margin-left: 265px !important;
    }
    .wq{
        margin-left: 280px;
        font-size:30px !important ;
    }
     .jprwLL1{
        margin-left: 270px !important;
    }
    .poi{
font-size: 22px !important;
 margin-left: 270px !important;
    }
    .aws{
        margin-left: 270px !important;
        font-size: 22px !important;
    }
    .ip{
        height: 120px;
        margin-left: -481px;
        margin-top: 182px !important;
      width:550px !important;
    }
    .ip1{
        height: 120px;
        margin-left: -820px;
margin-top: 304px !important;
      width:550px !important;
    }
    .bat{
        height: 140px;
        margin-left:9px ;
margin-bottom: -200px !important;
      width:550px !important;
    }
}
@media only screen and (max-width:900px) and (min-width:766px){
    .ot{
        width:800px !important;
    }
    .baner-heading{
        font-size: 50px !important;
    }
    .tt{
        font-size: 24px !important;
        margin-left: 345px !important;
    }
    .img{
        margin-top: 50px !important;
        margin-left: 90px !important;
    }
    .img1{
        margin-top: 50px !important;
        margin-left: 95px !important;
    }
    .img2{
        margin-top: 50px !important;
        margin-left: 100px !important;
    }
    .img3{
        margin-top: 50px !important;
        margin-left: 105px !important;
    }
    .section-heading-1{
        margin-top: 5px !important;
        margin-bottom: -30px !important;
        font-size: 30px !important;
        margin-left: 320px !important;
    }
    .wq{
        margin-left: 320px;
        font-size:32px !important ;
    }
 .jprwLL1{
        margin-left: 350px !important;
    }
    .poi{
font-size: 27px !important;
 margin-left: 350px !important;
    }
    .aws{
        margin-left: 350px !important;
        font-size: 27px !important;
    }
    .ip{
        height: 120px;
        margin-left: -481px;
        margin-top: 182px !important;
      width:650px !important;
    }
    .ip1{
        height: 120px;
        margin-left: -820px;
margin-top: 304px !important;
      width:650px !important;
    }
    .bat{
        height: 140px;
        margin-left:9px ;
margin-bottom: -200px !important;
      width:650px !important;
    }
}
@media only screen and (max-width:1000px) and (min-width:901px){
 .jprwLL1{
        margin-left: 420px !important;
    }
    .tt{
        font-size: 26px !important;
        margin-left: 420px !important;
    }
    .img{
        margin-top: 50px !important;
        margin-left: 100px !important;
    }
    .img1{
        margin-top: 50px !important;
        margin-left: 105px !important;
    }
    .img2{
        margin-top: 50px !important;
        margin-left: 110px !important;
    }
    .img3{
        margin-top: 50px !important;
        margin-left: 115px !important;
    }
    .section-heading-1{
        margin-top: 5px !important;
        margin-bottom: -20px !important;
        font-size: 37px !important;
        margin-left: 360px !important;
    }
    .wq{
        margin-left: 340px;
        font-size:34px !important ;
    }
    .poi{
font-size: 30px !important;
 margin-left: 420px !important;
    }
    .aws{
        margin-left: 420px !important;
        font-size: 30px !important;
    }
}
@media only screen and (max-width:550px) and (min-width:500px){
.tt{
        font-size: 10px !important;
        margin-left: 200px !important;
    }
    .banner-heading{
        font-size: 20px !important;
        margin-right: 40px !important;
    }
    
    .botton{
        padding: 5px 10px !important;
      margin-left: 1px !important;
    }
    .botton1{
        padding: 5px 10px !important;
        margin-right: -120px !important;


    }
    .section-heading-1{
        margin-top: 5px !important;
        margin-bottom: -17px !important;
        font-size: 11px !important;
        margin-left: 188px !important;
    }
    .ip{
        height: 120px;
        margin-left: -481px;
        margin-top: 182px !important;
      width:300px !important;
    }
    .ip1{
        height: 120px;
        margin-left: -820px;
margin-top: 304px !important;
      width:300px !important;
    }
    .bat{
        height: 140px;
        margin-left:9px ;
margin-bottom: -200px !important;
      width:300px !important;
    }
}
@media only screen and (max-width:620px) and (min-width:551px){
.tt{
        font-size: 17px !important;
        margin-left: 214px !important;
    }
    .banner-heading{
        font-size: 35px !important;
    }
    .section-heading-1{
        margin-top: 5px !important;
        margin-bottom: -22px !important;
        font-size: 20px !important;
        margin-left: 188px !important;
    }
    .ip{
        height: 120px;
        margin-left: -481px;
        margin-top: 182px !important;
      width:400px !important;
    }
    .ip1{
        height: 120px;
        margin-left: -820px;
margin-top: 304px !important;
      width:400px !important;
    }
    .bat{
        height: 140px;
        margin-left:9px ;
margin-bottom: -200px !important;
      width:400px !important;
    }
}
@media only screen and (max-width:700px) and (min-width:621px){
.tt{
        font-size: 22px !important;
        margin-left: 230px !important;
    }
    .banner-heading{
        font-size: 35px !important;
    }
    .section-heading-1{
        margin-top: 5px !important;
        margin-bottom: -8px !important;
        font-size: 28px !important;
        margin-left: 188px !important;
    }
    .ip{
        height: 120px;
        margin-left: -481px;
        margin-top: 182px !important;
      width:430px !important;
    }
    .ip1{
        height: 120px;
        margin-left: -820px;
margin-top: 304px !important;
      width:430px !important;
    }
    .bat{
        height: 140px;
        margin-left:9px ;
margin-bottom: -200px !important;
      width:430px !important;
    }
}
.categories {
    overflow: hidden;
    margin-top: 10px;
}
.categories .container-fluid {
    padding-right: 5px;
}
.row9 {
   
    display: flex;
   
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -20px;
}
.p-0 {
    padding: 0!important;
}




.categories__item.categories__large__item {
    height: 638px;
    padding-left: 70px;
}
.categories__item {
    height: 314px;
    
    display: flex;
   
    align-items: center;
    padding-left: 29px;
    margin-bottom: 10px;
    margin-right: 9px;
}
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.categories__item.categories__large__item .categories__text {
    max-width: 470px;
}
.pop {
    font-family: "Cookie", cursive;
    color: #111111;
    margin-bottom: -520px;
    font-size: 70px;
}

.categories__item.categories__large__item .categories__text p {
    margin-bottom: 15px;
}
.tr  {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.categories__text a {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}
.bit{
    width: 600px;
    height: 600px;
}
.no{
    color: #111111;
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
}
.not{
    width: 350px;
    height: 295px;
   
    margin-top: -360px;
    margin-left: -50px;
}
.not1{
    width: 350px;
    height: 295px;
  
    margin-left: -50px;
}

.gf1{
    text-decoration-color: red;
    margin-top: -715px;
  font-weight: 700;
    font-size: 20px;
    font-style: italic;
}
.ppp{
    text-decoration-color: rgb(219, 217, 217);
    margin-left: -50px;
    font-size: 20px;
    font-weight: 600;
    color: #666666;
   


}
.gf12{
    text-decoration-color: rgb(202, 202, 202);
        margin-top: -785px;
      font-weight: 700;
        font-size: 20px;
        font-style: italic;
    }
    .pppp{
        text-decoration-color: rgb(228, 226, 226);
        margin-left: -50px;
        font-size: 20px;
        font-weight: 600;
        color: gray;
    }    
    .do{
       text-decoration-color: red;
        font-size: 20px;
        font-weight: 600;
    }
    @media only screen and (max-width:1200px) and (min-width:1000px){
        .p-0{
            padding: 2px !important;
        }
    }
    .owl{
        color: rgb(145, 69, 69);
        text-decoration: red;
    }
    .call{
        color: red;
        font-weight: 600;
        font-size: 25px;
        font-style: italic;
    }
    .koel{
        color: red;
        font-size: 25px;
    }
    .m-auto {
        margin: auto!important;
    }
    .owl-carousel.owl-loaded {
        display: block;
    }
    .banner__slider {
        text-align: center;
        padding: 150px 0 0;
    }
    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
      
    }
    .owl-carousel .owl-stage{
position: relative;
    }
    .owl-carousel.owl-drag .owl-item 
        {
    min-height: 1px;
    float: left;
        }
        .banner_text span{
            font-size: 18px;
    color: #ca1515;
    text-transform: uppercase;

        }
       .banner_text h1{
        font-size: 80px;
        color: #111111;
        font-family:"cookie", cursive ;
        margin-bottom: 15px;
       }
       .banner__text a{
        font-size: 14px;
        color: #111111;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 0 3px;
        position: relative;
        display: inline-block;
       }

